#content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
    width: calc(100% - 80px);
    height: 100%;
    background-color: white;
}

#buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.load-more-button{
    width: 250px;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 15px;
    background-color: #e83030;
    color: white;
    border: solid 1px black;
}

.load-more-button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.395);
}

#suggestions-container {
    position: absolute;
    top: 120px; /* Position unterhalb des Eingabefeldes */
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Sicherstellen, dass die Vorschläge über anderen Elementen erscheinen */
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

