@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/pokemon-ds-font/pokemon-ds-font.ttf') format('truetype');
  }

  body{
    font-family: 'CustomFont', sans-serif;
}

input{
    font-family: 'CustomFont', sans-serif;
}
